Repository EKGF/rdfox-rs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, rdf, sparql

.github/labeler.yml:

documentation:
  - '**/*.md'

rdf:
  - '**/*.ttl'
  - '**/*.nt'

sparql:
  - '**/*.sparql'

feat(query): changed default graph in queries to `rdfox:DefaultTriples`
  src/prefixes.rs
Labels: none

feat(query): changed default graph in queries to `rdfox:DefaultTriples`
  src/data_store_connection.rs
Labels: none

feat(rdfox): many additional API calls implemented
  Cargo.toml
  src/cursor.rs
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/cursor/mod.rs
  src/cursor/opened_cursor.rs
  src/data_store.rs
  src/data_store_connection.rs
  src/data_type.rs
  src/data_value.rs
  src/lib.rs
  src/parameters.rs
  src/prefixes.rs
  src/statement.rs
  src/transaction.rs
  test.ttl
  tests/.gitignore
  tests/load.rs
  tests/test.ttl
Labels: rdf

feat(rdfox): supporting `evaluate_to_buffer` now
  src/data_store_connection.rs
  src/lib.rs
  tests/load.rs
Labels: none

feat(rdfox): better support for getting values from cursor row
  .idea/runConfigurations/Test_load_rdfox.xml
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/cursor/mod.rs
  src/cursor/opened_cursor.rs
  src/data_store.rs
  src/data_store_connection.rs
  src/data_type.rs
  src/error.rs
  src/exception.rs
  src/lexical_value.rs
  src/lib.rs
  src/server_connection.rs
  tests/load.rs
Labels: none

feat(rdfox): less info-level logging
  src/cursor/cursor_row.rs
  src/cursor/opened_cursor.rs
Labels: none

feat(rdfox): cursor-queries work now
  .idea/runConfigurations/Test_load_rdfox.xml
  README.md
  src/cursor/cursor_row.rs
  src/cursor/opened_cursor.rs
  src/lexical_value.rs
  tests/load.rs
Labels: documentation

docs(api): removed some comments
  src/cursor/cursor_row.rs
Labels: none

feat(rdfox): streaming works
  .idea/runConfigurations/Test_load_rdfox.xml
  src/cursor/mod.rs
  src/cursor/opened_cursor.rs
  src/data_store.rs
  src/data_store_connection.rs
  src/lexical_value.rs
  src/lib.rs
  src/parameters.rs
  src/prefixes.rs
  src/statement.rs
  src/streamer.rs
  src/transaction.rs
  tests/load.rs
Labels: none

feat(rdfox): some refactoring
  src/class.rs
  src/data_store_connection.rs
  src/graph_connection.rs
  src/prefixes.rs
  src/statement.rs
Labels: none

feat(rdfox): wrapped calls to rdfox into a macro
  .editorconfig
  .rustfmt.toml
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/cursor/opened_cursor.rs
  src/data_store_connection.rs
  src/exception.rs
  src/graph.rs
  src/graph_connection.rs
  src/lib.rs
  src/parameters.rs
  src/prefixes.rs
  src/server.rs
  src/server_connection.rs
  src/streamer.rs
  src/transaction.rs
  tests/load.rs
Labels: none

feat(rdfox): made resource values in cursor row optional
  src/class.rs
  src/cursor/cursor_row.rs
  src/cursor/opened_cursor.rs
  src/lexical_value.rs
Labels: none

feat(rdfox): can now hash and compare lexical values
  src/data_type.rs
  src/lexical_value.rs
Labels: none

feat(rdfox): minor new features
  src/cursor/cursor.rs
  src/data_store_connection.rs
  src/error.rs
  src/graph_connection.rs
  src/lib.rs
  src/parameters.rs
  src/server.rs
  src/server_connection.rs
Labels: none

feat(rdfox): support for datastore params
  src/cursor/cursor.rs
  src/data_store.rs
  src/data_store_connection.rs
  src/graph_connection.rs
  src/parameters.rs
  src/server_connection.rs
  src/streamer.rs
  src/transaction.rs
Labels: none

feat(rdfox): using non-mutable transactions more and dropping server now
  src/cursor/cursor.rs
  src/data_store_connection.rs
  src/data_type.rs
  src/lexical_value.rs
  src/server.rs
  src/server_connection.rs
Labels: none

feat(rdfox): added class `Predicate`
  src/lib.rs
  src/predicate.rs
  src/prefixes.rs
Labels: none

refactor(rdfox): many refactorings
  .idea/runConfigurations/Test_load_rdfox.xml
  Cargo.toml
  src/cursor/cursor.rs
  src/data_store.rs
  src/data_store_connection.rs
  src/error.rs
  src/exception.rs
  src/graph_connection.rs
  src/lib.rs
  src/license.rs
  src/parameters.rs
  src/role_creds.rs
  src/server.rs
  src/server_connection.rs
  src/transaction.rs
  tests/load.rs
Labels: none

refactor(rdfox): required to use tx now
  .idea/runConfigurations/Test_create_sandbox_database.xml
  src/class.rs
  src/cursor/cursor.rs
  src/data_store_connection.rs
  src/error.rs
  src/graph_connection.rs
Labels: none

refactor(rdfox): many refactorings
  src/class.rs
  src/cursor/cursor.rs
  src/data_store_connection.rs
  src/graph_connection.rs
  src/lexical_value.rs
  src/prefixes.rs
  src/statement.rs
  src/transaction.rs
  tests/load.rs
Labels: none

feat(base-iri): better support for base-iri especially in cursors
  src/class.rs
  src/cursor/cursor.rs
  src/data_store_connection.rs
  src/graph_connection.rs
  src/lib.rs
  src/namespace.rs
  src/prefixes.rs
  src/statement.rs
  tests/load.rs
Labels: none

feat(base-iri): better support for base-iri especially in cursors
  Cargo.toml
  src/data_store_connection.rs
  src/predicate.rs
  src/streamer.rs
  tests/load.rs
Labels: none

refactor(logging): quieter logging
  src/transaction.rs
Labels: none

refactor(prefixes): copying prefixes by value now
  src/class.rs
  src/cursor/cursor.rs
  src/data_store_connection.rs
  src/graph_connection.rs
  src/lib.rs
  src/prefixes.rs
  src/statement.rs
  src/streamer.rs
  tests/load.rs
Labels: none

refactor(server): refactoring the way we deal with the Server class
  src/data_store_connection.rs
  src/exception.rs
  src/parameters.rs
  src/server.rs
  src/server_connection.rs
  src/streamer.rs
Labels: none

feat(class): added plural label
  src/class.rs
  src/lexical_value.rs
Labels: none

feat(prefix): made hashmap of `Prefixes` public
  src/prefixes.rs
Labels: none

refactor(rdf): created module `rdf` and moved some source files into that
  src/cursor/cursor_row.rs
  src/cursor/mod.rs
  src/lib.rs
  src/rdf/data_type.rs
  src/rdf/lexical_value.rs
  src/rdf/mod.rs
  src/rdf/resource_value.rs
  src/rdf/term.rs
  tests/load.rs
Labels: none

refactor(rdf): added class `rdf::Term`
  src/rdf/term.rs
Labels: none

chore(upgrade): supporting RDFox 5.7
  .editorconfig
  .idea/copyright/profiles_settings.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/perl5shared.xml
  Cargo.toml
  build.rs
  src/class.rs
  src/cursor/cursor.rs
  src/cursor/mod.rs
  src/cursor/opened_cursor.rs
  src/data_store_connection.rs
  src/prefixes.rs
  src/rdf/lexical_value.rs
  src/rdf/term.rs
  src/role_creds.rs
  src/server.rs
  src/server_connection.rs
  src/statement.rs
  src/streamer.rs
  tests/load.rs
Labels: none

chore(upgrade): removed debug log lines
  build.rs
Labels: none

feat(version): ServerConnection::get_version()
  src/server_connection.rs
  tests/load.rs
Labels: none

feat(version): added simple conversion from our Error type to nom's Error type
  Cargo.toml
  src/error.rs
Labels: none

feat(minor): various minor features
  .idea/runConfigurations/Test_predicate__tests__test_predicate_as_iri_ref.xml
  src/predicate.rs
  src/prefixes.rs
  src/rdf/data_type.rs
  src/rdf/lexical_value.rs
  src/streamer.rs
Labels: none

feat(minor): various minor features
  build.rs
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/cursor/opened_cursor.rs
  src/data_store_connection.rs
  src/error.rs
  src/rdf/data_type.rs
  src/rdf/lexical_value.rs
  src/rdf/lexical_value_union.rs
  src/rdf/mod.rs
  src/rdf/term.rs
  src/server.rs
  src/server_connection.rs
  src/streamer.rs
Labels: none

feat(minor): various minor features
  Cargo.toml
  src/rdf/data_type.rs
  src/rdf/lexical_value.rs
Labels: none

refactor(async): big refactor, preparing for more async operation
  src/class.rs
  src/cursor/cursor.rs
  src/cursor/opened_cursor.rs
  src/data_store.rs
  src/data_store_connection.rs
  src/graph_connection.rs
  src/server.rs
  src/server_connection.rs
  src/statement.rs
  src/streamer.rs
  src/transaction.rs
Labels: none

refactor(lexval): added defaults
  src/rdf/data_type.rs
  src/rdf/lexical_value.rs
  src/rdf/lexical_value_union.rs
Labels: none

feat(logging): better logging
  src/cursor/cursor.rs
  src/data_store_connection.rs
  src/exception.rs
  src/graph_connection.rs
  src/lib.rs
  src/server_connection.rs
  src/transaction.rs
Labels: none

feat(logging): better logging
  src/rdf/lexical_value.rs
  src/transaction.rs
Labels: none
