Repository EKGF/rdfox-rs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, rdf, sparql

.github/labeler.yml:

documentation:
  - '**/*.md'

rdf:
  - '**/*.ttl'
  - '**/*.nt'

sparql:
  - '**/*.sparql'

feat(logging): better logging
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/statement.rs
Labels: none

feat(cursor): quick fix: increased string-read buffer size from 1024 to 102400. Needs to be done smarter later.
  src/cursor/cursor_row.rs
  src/prefixes.rs
Labels: none

feat(sparql): added line numbers to log of a SPARQL statement
  src/statement.rs
Labels: none

feat(sparql): added line numbers to log of a SPARQL statement
  src/statement.rs
Labels: none

feat(sparql): updated line numbering of SPARQL
  src/graph_connection.rs
  src/statement.rs
Labels: none

feat(sparql): minor changes, tests work again
  src/class.rs
  src/server_connection.rs
  tests/load.rs
Labels: none

feat(prefixes): minor changes
  src/prefixes.rs
Labels: none

refactor(sparql): minor optimizations
  src/class.rs
  src/data_store_connection.rs
  src/graph.rs
  src/graph_connection.rs
  src/prefixes.rs
  src/rdf/lexical_value.rs
  src/statement.rs
  src/transaction.rs
Labels: none

refactor(tracing): replaced logging with tracing
  .github/workflows/clippy.yml
  .github/workflows/format.yml
  Cargo.toml
  src/class.rs
  src/connectable_data_store.rs
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/cursor/opened_cursor.rs
  src/data_store.rs
  src/data_store_connection.rs
  src/error.rs
  src/exception.rs
  src/graph_connection.rs
  src/lib.rs
  src/license.rs
  src/parameters.rs
  src/prefixes.rs
  src/rdf/lexical_value.rs
  src/rdf/resource_value.rs
  src/rdf/term.rs
  src/server.rs
  src/server_connection/connection.rs
  src/server_connection/mod.rs
  src/statement.rs
  src/streamer.rs
  src/transaction.rs
  tests/load.rs
Labels: none

refactor(tracing): some more detailed logging
  src/rdf/lexical_value.rs
Labels: none

refactor(lexval): better handing of `xsd:dateTime`
  src/rdf/lexical_value.rs
Labels: none

feat(cursor): added CCursor_getAnswerVariableName
  src/cursor/opened_cursor.rs
  src/data_store_connection.rs
  src/rdf/lexical_value.rs
Labels: none

feat(concurrency): Prefixes object is now `Send`. Many other small improvements.
  Cargo.toml
  src/class.rs
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/data_store_connection.rs
  src/error.rs
  src/exception.rs
  src/graph_connection.rs
  src/parameters.rs
  src/prefixes.rs
  src/rdf/data_type.rs
  src/rdf/lexical_value.rs
  src/rdf/term.rs
  src/server.rs
  src/server_connection/connection.rs
  src/statement.rs
  src/streamer.rs
  src/transaction.rs
  tests/load.rs
Labels: none

chore(all): various updates
  Cargo.toml
  LICENSE
  src/class.rs
  src/connectable_data_store.rs
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/cursor/mod.rs
  src/cursor/opened_cursor.rs
  src/data_store_connection.rs
  src/error.rs
  src/exception.rs
  src/graph.rs
  src/graph_connection.rs
  src/lib.rs
  src/license.rs
  src/namespace.rs
  src/parameters.rs
  src/predicate.rs
  src/prefix.rs
  src/prefixes.rs
  src/rdf/data_type.rs
  src/rdf/lexical_value.rs
  src/rdf/lexical_value_union.rs
  src/rdf/mod.rs
  src/rdf/resource_value.rs
  src/rdf/term.rs
  src/role_creds.rs
  src/server.rs
  src/server_connection/mod.rs
  src/statement.rs
  src/streamer.rs
  src/transaction.rs
Labels: none

refactor(all): moved non-rdfox-specific stuff to `ekgf/rdf-store-rs`
  .editorconfig
  .idea/runConfigurations/Build.xml
  .idea/runConfigurations/Test.xml
  .rustfmt.toml
  Cargo.toml
  src/class.rs
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/cursor/mod.rs
  src/cursor/opened_cursor.rs
  src/data_store.rs
  src/data_store_connection.rs
  src/error.rs
  src/exception.rs
  src/graph.rs
  src/graph_connection.rs
  src/lib.rs
  src/license.rs
  src/namespace.rs
  src/parameters.rs
  src/predicate.rs
  src/prefix.rs
  src/prefixes.rs
  src/rdf/data_type.rs
  src/rdf/lexical_value.rs
  src/rdf/lexical_value_union.rs
  src/rdf/mod.rs
  src/rdf/resource_value.rs
  src/rdf/term.rs
  src/server.rs
  src/server_connection/connection.rs
  src/statement.rs
  src/streamer.rs
  src/transaction.rs
  tests/load.rs
Labels: none

refactor(all): renamed `Error` to `RDFStoreError`
  build.rs
  src/class.rs
  src/connectable_data_store.rs
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/cursor/opened_cursor.rs
  src/data_store.rs
  src/data_store_connection.rs
  src/exception.rs
  src/graph_connection.rs
  src/lib.rs
  src/license.rs
  src/parameters.rs
  src/prefixes.rs
  src/server.rs
  src/server_connection/connection.rs
  src/statement.rs
  src/streamer.rs
  src/transaction.rs
  tests/load.rs
Labels: none

refactor(all): minor changes
  Cargo.toml
Labels: none

refactor(all): moved `Class` to `ekgf/rdf-store-rs` repo
  src/class_report.rs
  src/lib.rs
  src/prefixes.rs
  tests/load.rs
Labels: none

refactor(all): renamed `LexicalValue` to `Literal`
  src/class_report.rs
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/cursor/opened_cursor.rs
  src/lib.rs
Labels: none

refactor(all): minor changes
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/cursor/opened_cursor.rs
Labels: none

feat(static): enabled static lib `libRDFox.a`
  .idea/runConfigurations/Build.xml
  .idea/runConfigurations/Test.xml
  .rustfmt.toml
  Cargo.toml
  build.rs
  src/class_report.rs
  src/connectable_data_store.rs
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/cursor/opened_cursor.rs
  src/data_store.rs
  src/data_store_connection.rs
  src/graph_connection.rs
  src/lib.rs
  src/parameters.rs
  src/server.rs
  src/server_connection/connection.rs
  src/statement.rs
  src/streamer.rs
  src/transaction.rs
  tests/load.rs
  tests/test.ttl
Labels: rdf

feat(static): some progress in making static linking work
  Cargo.toml
  README.md
  build.rs
  src/server_connection/connection.rs
Labels: documentation

feat(static): some progress in making static linking work
  .idea/runConfigurations/Build.xml
  Cargo.toml
  build.rs
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/cursor/opened_cursor.rs
  src/data_store_connection.rs
  src/lib.rs
  src/server.rs
  src/server_connection/connection.rs
  src/streamer.rs
  tests/load.rs
Labels: none

feat(static): static link library works now
  build.rs
  src/cursor/cursor.rs
  src/data_store_connection.rs
  src/parameters.rs
  src/server.rs
  src/server_connection/connection.rs
  src/streamer.rs
  tests/load.rs
Labels: none

chore(test): reproducing `OPTIONAL` issue
  src/prefixes.rs
  tests/concepts.ttl
  tests/load.rs
Labels: rdf

fix(cursor): fixed issue with argument indexes
  src/cursor/opened_cursor.rs
  tests/load.rs
Labels: none

chore(readme): updated README.md
  README.md
Labels: documentation

ci(publish): publishing on crates.io
  Cargo.toml
  src/cursor/cursor.rs
  src/cursor/cursor_row.rs
  src/cursor/opened_cursor.rs
  src/data_store_connection.rs
Labels: none

ci(publish): publishing on crates.io
  .github/workflows/docs.yml
  .idea/runConfigurations/Docs.xml
  Cargo.toml
  README.md
  src/class_report.rs
  src/connectable_data_store.rs
  src/cursor/cursor_row.rs
  src/cursor/opened_cursor.rs
  src/data_store.rs
  src/data_store_connection.rs
  src/lib.rs
  src/server_connection/connection.rs
Labels: documentation

ci(publish): publishing on crates.io
  Cargo.toml
Labels: none

ci(publish): publishing on crates.io
  .github/workflows/docs.yml
Labels: none

ci(publish): publishing on crates.io
  .github/workflows/docs.yml
  Cargo.toml
  build.rs
Labels: none

ci(publish): publishing on crates.io
  build.rs
Labels: none

ci(publish): changed version numbering to not follow rdfox version numbering
  Cargo.toml
  build.rs
Labels: none

chore(version): 0.0.1
  CHANGELOG.md
Labels: documentation

ci(docs): fixing docs job
  .github/workflows/build.yml
  .github/workflows/docs.yml
Labels: none

ci(docs): fixing docs job
  .github/workflows/docs.yml
Labels: none

ci(docs): fixing docs job
  .github/workflows/build.yml
  .github/workflows/docs.yml
Labels: none

ci(docs): fixing docs job
  .github/workflows/docs.yml
Labels: none

ci(publish): changed package name to rdfox-rs
  .github/workflows/build.yml
  Cargo.toml
Labels: none
